entrypoint = "index.js"
run = "./silent-run.sh"
modules = ["nodejs-18:v3-20230608-f4cd419"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-23_05"

[deployment]
run = ["./silent-run.sh"]
deploymentTarget = "cloudrun"
ignorePorts = false

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".js"]
id = "module:nodejs-18:v21-20231211-ac14ad7/languageServer:typescript-language-server"

[[ports]]
localPort = 8080
externalPort = 80
